DEBUG = 'True'
LOGLEVEL = 'DEBUG'

SECRET_KEY = 'secret-key'

POSTGRES_DB = 'receipt-promo-platform'
POSTGRES_USER = 'postgres'
POSTGRES_PASSWORD = 'postgres'
POSTGRES_HOST = 'db'
POSTGRES_PORT = '5432'

PROMO_START = '2026-10-01T00:00:00+03:00'
PROMO_END = '2026-12-31T23:59:59+03:00'